@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
  height: 100%;
}

.backImg{
 background-image: url('../src/views/components/images/LoginPic.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 height: 100%;
 font-family: 'Numans', sans-serif;
 background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .backGroundImg{
  background-image: url('../src/views/components/images/xavierImg1.jpg');
  background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  /* background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

.container{
/* */
align-content: center;
}

.card1{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  text-align: center;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.25rem !important;
}

.modal-class{
  background-color: black;
}

/* #header */

.iconHover{
  color: #F07819;
}

 .iconHover:hover {
   color: #FFC312;
 }

 .back {
   margin-top: 84px;
   margin-left: 10px;
   float: left !important;
   color: #fff;
   background-color: #F07819;
   outline: none;
   border:0;
   border-radius: 15px;
 }
 .back:focus { outline: none;border:0 }

 .back:hover{
   color: black;
   background-color: #FFC312;
 }
